# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Django specific files
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3

# Django media and static files
media/
staticfiles/

# IDE-specific files
.idea/
*.swp
.vscode/

# OS-specific files
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node modules (if using front-end dependencies)
node_modules/